<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/style.css" />
  <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>

  <title>GR2_ Website_ Restaurant</title>
</head>

<body>
  <!--Header - start-->
  <header class="header">
    <div class="container">
      <div class="row justify-content-between header-padding">
        <div class="logo">
          <a href="#"><img width="50px" src="../image/Logo1.jpg" alt="Ảnh Logo" /></a>
        </div>
        <button class="nav-toggler">
          <span></span>
        </button>
        <!-- <nav class="nav">
            <ul>
              <li class="nav-item"><a href="#Home">Home</a></li>
              <li class="nav-item"><a href="#About">About</a></li>
              <li class="nav-item"><a href="#Menu">Menu</a></li>
              <li class="nav-item"><a href="#Testimonial">Testimonial</a></li>
              <li class="nav-item"><a href="#Team">Team</a></li>
              <li class="nav-item"><a href="#Booking">Booking</a></li>
              <li class="nav-item"><a href="#Contact">Contact</a></li>
            </ul>
          </nav> -->
      </div>
    </div>
  </header>
  <!--Header - end-->
  <section class="home-section" id="home">
    <div class="home-section-bg"></div>
    <div class="container">
      <div class="row min-h-100">
        <div class="home-text">
          <h1>Nhà hàng GR2</h1>
          <p>
            Lưu luyến trong từng hương vị
          </p>
          <a href="#our-menu" class="btn">Menu</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Home Section begin -->
  <!-- About-Section-begin -->
  <section class="about-section section-padding" id="about">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-title="our story">about us</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-text">
          <h3>Chào mừng các bạn đến với GR2</h3>
          <p>
            Một nhà hàng nổi tiếng với những món ăn tuyệt vời, gắn liền với tên tuổi của những đầu bếp nổi tiếng nhất
            Việt Nam!
          </p>
          <p>
            Chúng tôi cam kết mang đến cho khách hàng sự trải nghiệm hài lòng bởi dịch vụ hiện đai, món ăn tươi ngon, và
            bằng chính sự chuyên nghiệp của chúng tôi.
          </p>
          <a href="#our-menu" class="btn">Xem menu</a>
        </div>
        <div class="about-img">
          <div class="img-box">
            <h2>10 + Year Experence</h2>
            <img src="../image/about.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About-Section-end -->
  <!-- Menu-Section-begin -->
  <section class="menu-section section-padding" id="Menu">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-title="order now">our menu</h2>
        </div>
      </div>
      <div class="row">
        <div class="menu-taps">
          <button type="button" class="menu-tap-item active" data-target="#Lunch">
            Lunch
          </button>
          <button type="button" class="menu-tap-item" data-target="#Dinner">
            Dinner
          </button>
          <button type="button" class="menu-tap-item" data-target="#Drinks">
            Drinks
          </button>
          <button type="button" class="menu-tap-item" data-target="#Desserts">
            Desserts
          </button>

        </div>
      </div>
      <div class="row menu-tap-content active" id="Lunch">
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu1.jpg" alt="" />
            <h3>Beefsteak</h3>
          </div>
          <div class="menu-item-price">350.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu2.jpg" alt="" />
            <h3> Paella</h3>
          </div>
          <div class="menu-item-price">300.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu3.jpg" alt="" />
            <h3>Nem Hải Sản</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu4.jpg" alt="" />
            <h3>Phở bò</h3>
          </div>
          <div class="menu-item-price">100.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu5.jpg" alt="" />
            <h3>Tôm hùm</h3>
          </div>
          <div class="menu-item-price">550.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu6.jpg" alt="" />
            <h3>Thịt treo treo </h3>
          </div>
          <div class="menu-item-price">350.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu7.jpg" alt="" />
            <h3>Gỏi sứa </h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu8.jpg" alt="" />
            <h3>Sườn sào</h3>
          </div>
          <div class="menu-item-price">250.000 VNĐ</div>
        </div>
      </div>
      <div class="row menu-tap-content" id="Dinner">
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu9.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu10.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu11.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu12.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu13.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
      </div>
      <div class="row menu-tap-content" id="Drinks">
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/menu14.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
        <div class="menu-item">
          <div class="menu-item-title">
            <img style="width: 100px" src="../image/food1.jpg" alt="" />
            <h3>Món trưa</h3>
          </div>
          <div class="menu-item-price">150.000 VNĐ</div>
        </div>
      </div>
      <div class="row menu-tap-content" id="Desserts"></div>
    </div>
  </section>
  <!-- Menu-Section-end -->
  <!-- Testimonis-Section -->
  <section class="testimony section-padding" id="Testimonial">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-title="testimony">Some Feedback</h2>
        </div>
      </div>
      <div class="row">
        <div class="testimony-item">
          <div class="testimony-author">
            <div class="testimony-name">
              <h3>Chi Pu</h3>
              <span>Ca sĩ</span>
            </div>
            <div class="testimony-img">
              <img src="../image/Test1.jpg" alt="">
            </div>
          </div>
          <p>Một trong những nhà hàng ngon nhất tôi từng đến và thưởng thức. Hương vị của từng món ăn rất đậm đà, lưu
            luyến.</p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="testimony-item">
          <div class="testimony-author">
            <div class="testimony-name">
              <h3>Trấn Thành</h3>
              <span>MC</span>
            </div>
            <div class="testimony-img">
              <img src="../image/Test2.jpg" alt="">
            </div>
          </div>
          <p>Một trong những nhà hàng ngon nhất tôi từng đến và thưởng thức. Hương vị của từng món ăn rất đậm đà, lưu
            luyến.</p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
        <div class="testimony-item">
          <div class="testimony-author">
            <div class="testimony-name">
              <h3>Đen Vâu</h3>
              <span>Rapper</span>
            </div>
            <div class="testimony-img">
              <img src="../image/Test3.jpg" alt="">
            </div>
          </div>
          <p>Một trong những nhà hàng ngon nhất tôi từng đến và thưởng thức. Hương vị của từng món ăn rất đậm đà, lưu
            luyến.</p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Section begin -->
  <section class="team-section section-padding" id="Team">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-title="team">Our Chefs</h2>
        </div>
      </div>
      <div class="row">
        <div class="team-item">
          <img src="../image/team1.jpg" alt="">
          <div class="team-item-info">
            <h3>Nguyễn Văn Nhẽ</h3>
            <p>Bếp trưởng</p>
          </div>
        </div>
        <div class="team-item">
          <img src="../image/team2.jpg" alt="">
          <div class="team-item-info">
            <h3>Phạm Thị Duyên</h3>
            <p>Bếp phó</p>
          </div>
        </div>
        <div class="team-item">
          <img src="../image/team3.jpg" alt="">
          <div class="team-item-info">
            <h3>Nguyễn Tiến Tùng</h3>
            <p>Đầu bếp</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimony section-padding" id="Order">
    <div class="container">
      <div class="row">
        <div class="section-title">
          <h2 data-title="Đặt bàn">Booking</h2><br><br>
        </div>
        <div class="container">


          <label for="name">Họ và tên</label>
          <input class="booking " id="name" name="name" placeholder="Your name.."><br><br>

          <label for="phone">Số điện thoại</label>
          <input class="booking" id="phone" name="phone" placeholder="Your phone number.."><br><br>

          <label for="typeTable">Số lượng người</label>
          <select class="booking " id="typeTable" name="account">
            <option value="0->2 ">0->2 người</option>
            <option value="3->4 ">3->4 người</option>
            <option value="5->10">5->10 người</option>
            <option value="10->20">10->20 người</option>
            <option value="Trên 20">Trên 20 người</option>
          </select><br><br>

          <label for="branch">Chi nhánh</label>
          <select class="booking " id="branch" name="account">
            <option value="HaiBaTrung">Hai Bà Trưng</option>
            <option value="BaTrieu">Bà Triệu</option>
            <option value="LeVanLuong">Lê Văn Lương</option>
            <option value="TruongChinh">Trường Chinh</option>
            <option value="Lang">Láng</option>
          </select><br><br>

          <div class="diagramStore">
            <div class=”row”>
              <div class=”col-md-4″>
                <div class=”nenxanh”>Cột thứ 1</div>
              </div>
              <div class=”col-md-4″>
                <div class=”nenhong”>Cột thứ 2</div>
              </div>
              <div class=”col-md-4″>
                <div class=”nenvang”>Cột thứ 3</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-title">
          <a href="" class="btn">Đặt bàn</a>
        </div>
      </div>
    </div>


  </section>
  <!-- Footer-section -->
  <section class="footer-section" id="Contact">
    <div class="container">
      <div class="row">
        <div class="footer-item">
          <h3>Địa chỉ</h3>
          <p>
            Số 1, Đại Cồ Việt <br />
            Hai Bà Trưng, Hà Nội
          </p>
        </div>
        <div class="footer-item">
          <h3>Giờ mở cửa</h3>
          <p>
            09:30-23:00 <br />
            Các ngày trong tuần
          </p>
        </div>
        <div class="footer-item">
          <h3>Liện hệ</h3>
          <p>
            Phone: 0377980440 <br />
            Email: UyenGR2@gmail.com
          </p>
          <div class="social-item">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="copyright">
          <p>©20211. Project GR2 </p>
        </div>
      </div>
    </div>
  </section>

  <!---------------------------------Script------------------  -->
  <script src="../js/scripst.js"></script>
</body>

</html>